.header{
  color: red;
  border: 5px;
  background-color:black;
  font-size: 50px;

}

.top{
  text-align: center;
}

.body{
  font-style: oblique;
  font-size: 24px;
  color: darkblue;
  background-color: pink;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid red;
}


.body2{
  background-color: green;
  font-size: 24px;
  color : yellow;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left:20%;
  margin-right:20%;
}

.about{
  font-size: 16px;
  color : inherit;
  font-family: sans-serif;
}
.body3 {
  background-color: skyblue;
  font-size: 24px;
  color: white;
  border: 20px solid black;
  margin: 100px;
}
.dunk {
  margin-left: 33%;
  margin-right: 33%;
}
